---
import InternalPageLayout from '@/layouts/shared/InternalPageLayout.astro'
import ContactForm from '@/components/shared/ContactForm.astro'
import ContactStudio from '@/components/shared/ContactStudio.astro'
import { fetchContactPageByLocale } from '@/shared/lib/sanity/queries/contactPageQueries'
import type { ContactPage } from '@/shared/schemas/sanity/contactPageSchema'

const locale = 'ca'

let contactPageData: ContactPage | null = null

try {
  contactPageData = await fetchContactPageByLocale(locale)
} catch (error) {
  console.error('Error fetching contact page data:', error)
}

const title = contactPageData?.title || 'Contacte'
const email = contactPageData?.email || 'info@biombo.cat'
const phone = contactPageData?.phone || '+(34) 699 696 969'
---

<InternalPageLayout
  pageMetaTitle={`${title} - Biombo Studio`}
  pageTitle={title}
  pageMetaDescription=""
>
  <div slot="two-column-content" class="contact-content">
    <ContactStudio email={email} phone={phone} />
    <ContactForm formSection={contactPageData?.formSection} />
  </div>
</InternalPageLayout>

<style>
  .contact-content {
    width: 100%;
  }
</style>
