---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Header from '@/components/shared/header/Header.astro'
// import Footer from '@/components/shared/Footer.astro' // Uncomment when needed
import type { HomePage } from '@/shared/schemas/sanity/homePageSchema'
import Projects, {
  type ResolvedProjectsSectionData,
} from '@/components/pages/homepage/Projects.astro'
import Hero from '@/components/pages/homepage/Hero.astro'
import ProjectsMobile from '@/components/pages/homepage/ProjectsMobile.astro'
import About from '@/components/pages/homepage/about-section/About.astro'
import Services from '@/components/shared/header/Services.astro'
import Clients from '@/components/pages/homepage/clients-section/Clients.astro'
import Footer from '@/components/shared/Footer.astro'
// import About from '@/components/pages/homepage/about-section/About.astro' // Uncomment when needed
// import Services from '@/components/pages/homepage/services-section/Services.astro' // Uncomment when needed

// About component fetches its own data based on locale

interface Props {
  locale: 'ca' | 'es' | 'en'
  homePageData: HomePage | null
}

const { locale } = Astro.props
const { homePageData } = Astro.props

const pageTitle = 'Biombo - Art, Events, Community'
---

<script src="@/scripts/pages/homepage/horizontalScroll.ts"></script>

<BaseLayout title={pageTitle}>
  <Header locale={locale} />

  <main id="main" class="main-content">
    <div class="horizontal-scroll-container" id="horizontal-container">
      <section class="hero">
        <Hero locale={locale} heroData={homePageData?.hero} />
      </section>

      <section id="projects" class="projects">
        <Projects
          projectsData={homePageData?.projects as ResolvedProjectsSectionData}
          locale={locale}
        />
      </section>
    </div>

    <section class="projects-mobile">
      <ProjectsMobile
        projectsData={homePageData?.projects as ResolvedProjectsSectionData}
        locale={locale}
      />
    </section>
    <About sectionData={homePageData?.about} />
    <Services servicesData={homePageData?.services} />
    <Clients clientsData={homePageData?.clients} />
  </main>

  <Footer />
</BaseLayout>

<style>
  .horizontal-scroll-container {
    block-size: calc(100vh - var(--header-height));
    display: flex;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    -webkit-overflow-scrolling: touch;
    /* scroll-snap-type: x proximity; */
  }

  .horizontal-scroll-container > section {
    flex: 0 0 100vw;
    block-size: inherit;
    /* scroll-snap-align: start; */
  }

  .hero {
    padding-inline: var(--padding-inline);
    display: flex;
    align-items: center;
    position: relative;
  }

  .projects {
    flex: 0 0 183.3vw !important;
  }

  .projects-mobile {
    display: none;
  }

  /* Disable horizontal scrolling on screens smaller than 992px */
  @media (width < 1025px) {
    .horizontal-scroll-container {
      block-size: auto;
      display: block;
      overflow-x: visible;
      overflow-y: visible;
      overscroll-behavior-x: initial;
      -webkit-overflow-scrolling: initial;
    }

    .horizontal-scroll-container > section {
      flex: initial;
      block-size: auto;
      width: 100%;
    }

    .projects {
      display: none;
    }

    .projects-mobile {
      display: block;
    }
  }
</style>
